@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Montserrat&display=swap');

:root{
    --dark-background: #2F3E46;
    --text: #cad2c5;
    --light-highlight: #84A98C;
    --dark-highlight: #52796f;
    --light-background:#354f52;
}

h1{
    font-family: 'Inconsolata', monospace;
    font-size: 40px;
}
h2{
    color:var(--light-highlight);
}
h3{
    color:var(--light-highlight);
}
.container{
}
html{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    background-color: var(--dark-background);
    color: var(--text);
}
.header{
    background-color: var(--light-background);
    color: var(--light-highlight);
    border-bottom: solid #52796f;
    ;
}
.header__nav-link{
    font-size: 18px;
    color: var(--light-highlight);
    text-decoration: none;
}
.header__nav-link:hover{
    color: white;
}
.main-content {
    background-color: var(--light-background);
    border: solid #52796f;
    border-radius: 10px;
    padding: 15px;

}

a{
    color: var(--dark-highlight); 
    text-decoration: none;
}
a:hover{
    color: var(--light-highlight);
}